* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* 🌀 Preloader container */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    overflow: hidden;
}

/* ✨ Responsive logo scaling */
#preloader img {
    width: min(20vw, 120px);
    /* scales by viewport width, max 120px */
    height: auto;
    object-fit: contain;
    animation: bounce 1.5s infinite ease-in-out;
}

/* 🪄 Bounce animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

/* 🌍 Hide main content until loaded */
.content {
    display: none;
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Target only desktop/larger screens */
@media (min-width: 992px) {

    /* Show the dropdown menu when hovering over the parent .dropdown element */
    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    /* Optional: Prevents the toggle button from remaining 'stuck' if clicked */
    .dropdown>.dropdown-toggle:active {
        /* The pointer-events property prevents the click from registering */
        pointer-events: none;
    }
}

@media (max-width: 480px) {
    .inputSearch {
        width: 180px !important;
    }
}

.form-control:focus {
    /* Override the focus ring color variable */
    --bs-focus-ring-color: #DE1F26 !important;
    border-color: #DE1F26;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #eb8387;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
    filter: brightness(50%);
    object-fit: cover;
}

/* 📱 For smaller screens */
@media (max-width: 768px) {
    .carousel-item img {
        height: 55vh;
        /* Reduce height for tablets */
    }

    .carousel-caption h2 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .carousel-item img {
        height: 50vh;
        /* Even smaller for phones */
    }

    .carousel-caption {
        padding: 12px 20px;
        width: 90%;
    }

    .carousel-caption h2 {
        font-size: 1.25rem;
    }

    .carousel-caption p {
        font-size: 0.85rem;
    }
}

/* 🪄 Caption styling */
.carousel-caption.custom-caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 35px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    max-width: 90%;
    z-index: 10;
}

@media (max-width: 480px) {
    .carousel-caption.custom-caption {
        top: 70%;
        padding: 10px 15px;
        line-height: 18px;
    }

    .carousel-caption h2 {
        font-size: 1.1rem;
    }

    .carousel-caption p {
        font-size: 0.85rem;
    }
}

.learn-link {
    text-decoration: none;
    color: #DE1F26;
    font-weight: normal;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    ;
    transition: color 0.2s;
}

.learn-link:hover {
    color: #001F3F;
}

.aboutUsTexts {
    width: 55%;
    color: #555;
    font-size: 20px;
}

.aboutPara {
    font-size: 1.1rem !important;
}

@media (max-width: 480px) {
    .aboutUsTexts {
        width: 100%;
        font-size: 26px;
        line-height: 22px;
    }

    .aboutPara {
        font-size: 0.85rem !important;
        line-height: 18px;
        margin-top: 10px;
    }

}


.discover h2 {
    display: flex;
    color: #555555;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.discover p {
    display: flex;
    color: #555555;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 480px) {
    .services {
        display: block;
    }
}

.services img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img-container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.img-container:hover .img-fluid {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

@media (max-width: 480px) {
    .img-container {
        width: 90%;
        margin: 10px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        transition: transform 1s ease-in-out;
    }
}

.img-text {
    opacity: 0;
    position: absolute;
    top: 91.5%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 1s ease-in-out;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (max-width: 480px) {
    .img-text {
        opacity: 1;
    }
}

.img-container:hover .img-text {
    opacity: 1;
}

.button {
    padding: .8rem 2rem;
    background-color: #DE1F26;
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: translateY 1s ease-in-out,
        background-color .2s ease-in-out,
        box-shadow .2s ease-in-out;
}

.button:hover {
    background-color: #001F3F;
    box-shadow: 2px 2px 4px #555;
}

.button:active {
    transform: translateY(3px);
    opacity: 1;
}

.values-wrapper {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    overflow: hidden;
}

.values-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;
    padding: 10px 0;
    min-width: 4060px;
    width: fit-content;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transform: translateX(0);
    animation: slide-infinite 20s linear infinite;
}

.values-grid::-webkit-scrollbar {
    display: none;
}

.value-card {
    flex-shrink: 0;
    height: 250px;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 15px;
    perspective: 1000px;
    transition: transform 0.3s ease;
    scroll-snap-align: none;
    width: calc(50% - 10px);
}

@media (min-width: 992px) {
    .value-card {
        width: 285px;
    }
}

@media (max-width: 480px) {
    .value-card {
        flex-shrink: 0;
        height: 250px;
        padding: 15px;
        width: 200px;
    }

    .values-grid {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        gap: 20px;
        padding: 10px 0;
        min-width: 3080px;
        width: fit-content;
        animation: slide-marquee-mobile 30s linear infinite;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @keyframes slide-marquee-mobile {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-1220px);
        }
    }

}

@keyframes slide-infinite {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-950px);
    }
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.value-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.card-front {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-style: mulish;
}

.card-back {
    background-color: #f0f8ff;
    color: #333;
    transform: rotateY(180deg);
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1a2a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.value-card h3 {
    font-size: 1.3em;
    margin: 5px 0;
    color: #333;
}

.value-card p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
}


.sustainable {
    padding: 30px 150px;
}

@media (max-width: 480px) {
    .sustainable {
        padding: 10px 20px;
    }
}

.sustainable h2 {
    color: #333333;
}

.sustainable p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6rem;
}

.sustain-container {
    display: flex;
}

.sustain:first-child {
    width: 50%;
    align-items: center;
    padding-right: 30px;
    padding-top: 150px;
}

.sustain:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sustainable img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: auto;
    height: auto;
}

@media (max-width: 480px) {
    .sustain-container {
        display: block;
    }

    .sustain:first-child {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;

    }

    .sustain:last-child {
        width: 100%;
    }
}

.sustain-button {
    padding: .8rem 2rem;
    background-color: #DE1F26;
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: translateY 1s ease-in-out,
        background-color .2s ease-in-out,
        box-shadow .2s ease-in-out;
}

@media (max-width: 480px) {
    .sustain-button {
        margin: 5px 0px 20px 0px;
    }
}

.sustain-button:hover {
    color: white;
    background-color: #001F3F;
    box-shadow: 2px 2px 4px #555;
}

.sustain-button:active {
    transform: translateY(3px);
}

.email-subscribe {
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 30%;
    padding: .8rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #001F3F;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #DE1F26;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #eb8387;
}

input::placeholder {
    color: #6c757d;
    opacity: 1;
}

@media (max-width: 480px) {
    .email-subscribe {
        display: block;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }

    .email-subscribe input[type="text"],
    input[type="email"] {
        width: 100%;
        margin: 0.75rem 0rem;
    }
}

.email-subscribe input[type="submit"] {
    padding: .8rem 2rem;
    background-color: #DE1F26;
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    transition: translateY 1s ease-in-out,
        background-color .2s ease-in-out,
        box-shadow .2s ease-in-out;
}

.email-subscribe input[type="submit"]:hover {
    background-color: #001F3F;
    box-shadow: 2px 2px 4px #555;
}

.email-subscribe input[type="submit"]:active {
    transform: translateY(3px);
}

.contact {
    display: flex;
}

@media (max-width: 480px) {
    .contact {
        display: block;
    }
}

.contact-iconic {
    width: 50%;
}

.contact-info {
    width: 30%;
}

.contact-quick {
    width: 20%;
}

.contact-iconic p {
    font-size: .9rem;
    color: #555;
    padding: 0rem 10rem .5rem .9rem;
}

@media (max-width: 480px) {
    .contact-iconic {
        padding: 0;
    }

    .contact-iconic p {
        font-size: .9rem;
        color: #555;
        padding: 0rem 2rem .5rem .9rem;
    }

    .contact-iconic {
        width: 100%;
    }

    .contact-info {
        width: 100%;
    }

    .contact-quick {
        width: 100%;
    }

    .img-div {
        padding: .2rem 1rem 0rem .2rem !important;
    }
}

.social-icons {
    display: flex;
    justify-content: start;
    gap: .9rem;

}

.social-icons a {
    text-decoration: none;
    color: inherit;
}

.social-icons i {
    font-size: 2.5rem;
    color: #DE1F26;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover i {
    color: #001F3F;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #495057;
}

.contact-item i {
    color: #6c757d;
    font-size: 1.25rem;
    margin-right: 10px;
    flex-shrink: 0;
}

.contact-item span {
    display: inline-block;
}

.centered-title {
    text-align: start;
    position: relative;
    color: #495057;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.centered-title::after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 3px;
    background-color: #DE1F26;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.quick-links-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.quick-links-list li {
    margin-bottom: 12px;
}

.quick-links-list a {
    text-decoration: none;
    color: #495057;
    font-size: 1rem;
    transition: color 0.3s;
}

.list-bullet {
    color: #495057;
    font-weight: bold;
    margin-right: 8px;
}

.quick-links-list a:hover {
    color: #DE1F26;
}

.footer {
    color: white;
    background-color: #DE1F26;
    text-align: center;
    padding: 1rem .6rem .6rem .6rem;
    margin-top: 1.5rem;
}